body {
    background-color: #ffe1c3;
}

.barra-nav {
    background: linear-gradient(0deg, rgb(59, 46, 33) 17%, rgb(7, 29, 88) 84%);
    color: aliceblue;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    
}

.nav-item.active {
    background-color: rgb(185, 98, 16);
    border-radius: 25px;
    border-bottom: 2px solid rgb(1, 13, 51);
    color: black;
}

.nav-item:hover {
    background-color: rgb(214, 121, 15);
    border-radius: 25px;
    border-bottom: 2px solid rgb(1, 13, 51);
    color: black;
}


.btn {
    background-color: rgb(28, 74, 134);
    color: white;
    width: 100%;
    border-radius: 50px;
    margin-left: -5px;
    margin-right: auto;
    height: 40px;
}

.btn:hover {
    background-color: rgb(13, 43, 82);
    color: rgb(157, 164, 190);
}

img.img-card {
    border: 2px solid rgb(11, 7, 51);
    width: 100%;
    border-radius: 50px;
}